structure/
_bk/
statistic/
fenics/*.err
fenics/*.out
fenics/*.gz
fenics/*.pvd
fenics/*.vtu
*.opj
*.o
*.exe
*.err
*.out
tensorflow/*_0/
tensorflow/*_1/
tensorflow/*_2/
tensorflow/*_3/
tensorflow/*_4/
tensorflow/*_5/
tensorflow/*_6/
tensorflow/*_7/
tensorflow/*_8/
tensorflow/*_9/
tensorflow/*_10/
tensorflow/*_2d/
tensorflow/*_bn/